@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  .img-content-hero {
    position: relative;
  }

  .content-frame-img-1 {
    position: absolute;
    left: 158px;
    text-align: center;
    bottom: 260px;
    z-index: 999;
  }

  .content-frame-img-2 {
    position: absolute;
    left: 622px;
    text-align: center;
    bottom: 260px;
    z-index: 999;
  }

  .content-frame-img-3 {
    position: absolute;
    left: 1085px;
    text-align: center;
    bottom: 260px;
    z-index: 999;
  }

  .img-service-cs-1 {
    padding: 23px;
    width: 130px;
    height: auto;
  }

  .bg-opacity-cs {
    opacity: 0.3;
    --tw-bg-opacity: 0.1;
  }

  .grup-text-service {
    padding: 10px;
    margin: 63px auto;
  }

  .hexagon-image {
    display: flex;
    position: relative;
    width: 125px;
    height: 120px;
    /* background-color: #424242; */
    -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  }

  .img-detail-portfolio {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
  }

  /* Mobile (portrait) */
  @media (max-width: 767px) {
    .content-frame-img-1 {
      position: absolute;
      left: 131px;
      text-align: center;
      bottom: 1017px;
      z-index: 999;
    }

    .content-frame-img-2 {
      position: absolute;
      left: 131px;
      text-align: center;
      bottom: 633px;
      z-index: 999;
    }

    .content-frame-img-3 {
      position: absolute;
      left: 131px;
      text-align: center;
      bottom: 250px;
      z-index: 999;
    }
  }

  /* Tablet (portrait) */
  @media (min-width: 768px) and (max-width: 922px) {
    .content-frame-img-1 {
      position: absolute;
      left: 120px;
      text-align: center;
      bottom: 765px;
      z-index: 999;
    }

    .content-frame-img-2 {
      position: absolute;
      left: 495px;
      text-align: center;
      bottom: 765px;
      z-index: 999;
    }

    .content-frame-img-3 {
      position: absolute;
      left: 120px;
      text-align: center;
      bottom: 330px;
      z-index: 999;
    }
  }

    /* Laptop (portrait) */
    @media (min-width: 922px) and (max-width: 1200px) {
      .content-frame-img-1 {
        position: absolute;
        left: 90px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
  
      .content-frame-img-2 {
        position: absolute;
        left: 420px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
  
      .content-frame-img-3 {
        position: absolute;
        left: 740px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
    }

     /* Laptop (portrait) */
     @media (min-width: 1200px) and (max-width: 1399px) {
      .content-frame-img-1 {
        position: absolute;
        left: 125px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
  
      .content-frame-img-2 {
        position: absolute;
        left: 520px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
  
      .content-frame-img-3 {
        position: absolute;
        left: 920px;
        text-align: center;
        bottom: 260px;
        z-index: 999;
      }
    }

}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
